th, td{
    text-align: center;
}
table{
    width:100%;
}
.panel-heading, .panel-body {
    border-radius: 0px;
 }
 
 .nav-tabs {
    border-bottom: none;
 }
 .nav-tabs>li.active>a :after{
     
        position: absolute;
        content: " ";
        background: #73C92D;
        width: 12px;
        height: 12px;
        border-radius: 3px 0 0 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: none;
        bottom: -60%;
        right: 50%;
     
 }
 .nav-tabs>li>a {
    color: white;
    border: 1px solid transparent;
    border-right: 2px solid white;
    border-radius: 0px;
    padding: 3px 20px;
    &:hover {
       background-color: transparent;
       border: 1px solid transparent;
       border-right: 2px solid white;
    }
 }
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-right: 2px solid white;
 }
 
